<div class="navbar">

    <div class="left-group">
        <a href="home" id="home">HOME</a>
        <a href="share"><button id="share"> + SHARE</button></a>
    </div>


    <img id="logo" src="/assets/ornatum-high-resolution-logo-color-on-transparent-background.png" alt="">
    

    <div class="right-group">
        <a [matMenuTriggerFor]="userMenu" id="username">HI, {{username}}!</a>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="evaluateUser()" id="profile"><mat-icon>person</mat-icon>PROFILE</button>
            <button mat-menu-item (click)="logout()" id="logout"><mat-icon id="exit">exit_to_app</mat-icon>LOGOUT</button>
        </mat-menu>
    </div>
</div>
<h3>{{ username }}'s posts:</h3>
<div class="row">
<div *ngFor="let image of postings" class="container">
    <a><img [src]="image.image_data" alt="Posting Image" class="item" (click)="onImageClick(image.id)"></a>
</div>
</div>