<div class="navbar">
  <!-- Group 1: Aligned to the left -->
  <div class="left-group">
      <a href="home" id="home">HOME</a>
      <a href="share"><button id="share"> + SHARE</button></a>
  </div>

  <!-- Centered Item -->
  <h1>ORNATUM</h1>
  
  <!-- Group 2: Aligned to the right -->
  <div class="right-group">
      <a [matMenuTriggerFor]="userMenu" id="username">HI, {{username}}!</a>
      <mat-menu #userMenu="matMenu">
          <button mat-menu-item (click)="evaluateUser()" id="profile"><mat-icon>person</mat-icon>PROFILE</button>
          <button mat-menu-item (click)="logout()" id="logout"><mat-icon id="exit">exit_to_app</mat-icon>LOGOUT</button>
      </mat-menu>
  </div>
</div>
<div class="container">
  <form (ngSubmit)="uploadPost()" #postForm="ngForm" enctype="multipart/form-data">

    <h3>Share your ideas with others.</h3>
  
    <label for="image_data">Upload an image</label><br>
    <input type="file" id="image_data" name="image_data" (change)="onFileSelected($event)" required>

    <div *ngFor="let piece of piecesData; let i = index" class="piece-container">

      <input class="input" type="text" [id]="'brand' + i" [name]="'brand' + i" [(ngModel)]="piece.brand" placeholder="BRAND*" required>
  
      <input class="input" type="text" [id]="'model' + i" [name]="'model' + i" [(ngModel)]="piece.model" placeholder="MODEL*" required>
  
    </div>
  

  
    <button type="button" class="button" (click)="addPieceInput()">ADD PIECE</button>
    <button type="button" class="button" (click)="deletePieceInput()">DELETE PIECE</button>
    <button type="submit" class="button">CONFIRM</button>
  </form>
</div>
